# remove emacs packages
emacs/.emacs.d/*
!/emacs/.emacs.d/init.el

# remove systemd symlinks
systemd/.config/systemd/user/default.target.wants/

# remove media internal files
media/.config/mpd/log
media/.config/mpd/pid
media/.config/mpd/state
media/.config/mpd/database
media/.config/beets/state.pickle
media/.config/ncmpcpp/error.log

# remove transmission internal files
minors/.config/transmission/resume
minors/.config/transmission/torrents
minors/.config/transmission/dht.dat
