[Unit]
Description=Emacs: the extensible, self-documenting text editor
Documentation=man:emacs(1) info:Emacs

[Service]
#Type=forking #takes too much time
ExecStart=/usr/bin/emacs --daemon --with-x-toolkit=lucid
ExecStop=/usr/bin/emacsclient --eval "(progn (setq kill-emacs-hook nil) (kill-emacs))"
Restart=on-failure
TimeoutStartSec="2min 30s"

[Install]
WantedBy=default.target
