[Unit]
Description=Redshift display colour temperature adjustment (GUI)
Documentation=http://jonls.dk/redshift/
After=display-manager.service
Requires=display-manager.service

[Service]
#Type=forking
ExecStart=/usr/bin/redshift-gtk
Restart=always

[Install]
WantedBy=default.target
