! Terminal Colors ------------------------------------------------------------

*background: #111111
*foreground: #babdb6

! Black,Red,Green,Yellow,Blue,Magenta,Cyan,Grey
*color0:  #000000
*color1:  #ff0e22
*color2:  #55c12f
*color3:  #eab93d
*color4:  #204987
*color5:  #e8005a
*color6:  #89b6e2
*color7:  #cccccc

! Bright counterparts (White, for the last one)
*color8:  #555753
*color9:  #ff4151
*color10: #82d963
*color11: #f1e782
*color12: #5185d6
*color13: #ff3684
*color14: #46a4ff
*color15: #ffffff


! URxvt  ---------------------------------------------------------------------

! rxvt (default), plain (most compact), next, xterm or false
! URxvt.scrollBar: plain

! true transparency (needs compositor)
URxvt*.depth: 32
URxvt*.background : [70]#000000

! Xft: DejaVu fonts
!  Fedora/debian packages: dejavu-sans-mono-fonts/ttf-dejavu 
URxvt*font: xft:DejaVu Sans Mono:pixelsize=12:antialias=true:hinting=true
URxvt*boldFont: xft:DejaVu Sans Mono:bold:pixelsize=12:antialias=true:hinting=true


! Xcursor --------------------------------------------------------------------

Xcursor.theme: Vanilla-DMZ-AA
Xcursor.size:  16

