[Desktop Entry]
Encoding=UTF-8
Name=Mozilla Firefox
Comment=PlayOnLinux
Type=Application
Exec=/usr/share/playonlinux/playonlinux --run "Mozilla Firefox" %F
Icon=/home/kaslu/.PlayOnLinux//icones/full_size/Mozilla Firefox
StartupWMClass=firefox.exe
Categories=
Name[en_US]=PlayOnLinux Firefox
